<%layout("layouts/public") %>
<link href="/css/public.css" rel="stylesheet" type="text/css" />
<title>Edit <%= student.name %> </title>
<main>
   <div class="header">
      <h1>Edit <%=student.name%></h1>
   </div>
   <div class="students">
      <div class="form">
         <form action="/students/<%= student._id %>?_method=PUT" method="post">
            <label for="name">Name</label>
            <div class="input">
               <input
                  value=<%=student.name%>
                  required
                  type="text"
                  id="name"
                  placeholder="name"
                  name="student[name]"
                  />
            </div>
            <label for="date">Date of Birth</label>
            <div class="input">
               <input
                  value=<%=student.date%>
                  required
                  type="date"
                  id="date"
                  placeholder="Date of Birth"
                  name="student[date]"
                  />
            </div>
            <div class="selects">
               <% if(countries.length > 0) { %>
               <div class="select">
                  <label for="country">Country</label>
                  <select name="student[country]" id="country">
                     <% for(let country of countries){ %>
                     <option value="<%=country.name%>" 
                        <% if(student.country !== undefined) { %> 
                        <%= student.country.name === country.name ? "selected" : ""%>
                        <% } %> 
                        ><%= country.name %></option>
                     <% } %> <% } %>
                  </select>
               </div>
               <% if(subjects.length > 0) { %>
               <div class="select">
                  <label for="subject">Subject</label>
                  <select name="student[subject]" id="subject">
                     <% for(let subject of subjects){ %>
                     <option value="<%=subject.name%>"
                        <% if(student.subject !== undefined) { %> 
                        <%= student.subject.name === subject.name ? "selected" : ""%>
                        <% } %> 
                        ><%= subject.name %></option>
                     <% } %> <% } %>
                  </select>
               </div>
            </div>
            <button class="submit button slide_right">Submit</button>
         </form>
      </div>
   </div>
</main>